* {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1440px;
}

body {
    font-family: "lato", 'helvetica', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin: 0;
}

img {
    object-fit: cover;
}

.back {
    display: block;
    position: absolute;
    width: 100%;
    height: 960px;
    z-index: -1;
    filter: brightness(80%);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
}

header .logo {
    width: 210px;
    height: 30px;
    position: absolute;
    top: 51px;
    left: 69px;
}

header h1 {
    margin: 245px 0px 0px;
    color: #FFD15B;
    text-align: center;
    font-family: Anton;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    position: relative;
}

header .search {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    border-radius: 11px;
    width: 954px;
    height: 72px;
}

.search-container {
    position: relative;
}

.search-txt {
    width: 800px;
    height: 72px;
    border-radius: 11px;
    padding-inline-start: 35px;
    padding-right: 70px;
    border: none;
}

.search-btn {
    width: 51px;
    height: 52px;
    position: absolute;
    border-radius: 11px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}


/***** MAIN *****/
main {
    display: flex;
    flex-direction: column;
    background-color: #EDEDED;
    margin: 240px 0px 0px 0px;
}


/***** Filter *****/
.filter {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 20px 102px;
}

.bouton {
    display: flex;
    flex-direction: row;
    gap: 66px;
    margin: 0;
}

.ingredients, .appliances, .ustensils {
    position: relative;
    background-color: #FFFFFF;
    width: 195px;
    height: 56px;
    padding: 17px 16px;
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.ingredients-close {
    border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#ingredientBtn, #applianceBtn, #ustensilBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 0;
}

.dropdown-btn {
    font-family: 'helvetica', sans-serif;
    font-size: 16px;
    margin: 0;
}

.vectorIngredients, .vectorAppliances, .vectorUstensils {
    width: 17px;
    height: 7px;
    margin: 0;
}

.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}

.dropdown-content-ingredients, .dropdown-content-appliances, .dropdown-content-ustensils {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 5;
    width: 195px;
    height: 215px;
    overflow: auto;
}

.show {
    display: block;
    font-family: 'manrope', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.search-filter {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0;
}

.search-filter-txt {
    width: 163px;
    height: 36px;
    margin: 0px 15px;
    padding-inline-start: 5px;
    padding-right: 28px;
    border: 1px solid #C6C6C6;
    border-radius: 2px;
}

.search-filter-btn {
    width: 15px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

#insistanteContent {
    margin: 15px 0px 21px;
    padding: 5px 0px;
    background-color: #FFD15B;
}

.content {
    display: flex;
    margin: 6px 0px 6px 16px;
    cursor: pointer;
    text-transform: capitalize;
}


/***** Tags *****/
.tags {
    display: none;
    flex-wrap: wrap;
    margin: 0px 102px 8px 102px;
    gap: 3px;
}

.tagsContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 17px 18px;
    width: 203px;
    height: 53px;
    border-radius: 10px;
    background-color: #FFD15B;
    margin: 0;
}

.tagName {
    font-family: "manrope", sans-serif;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.tagClose {
    margin: 0;
    cursor: pointer;
}

/***** Cards *****/
.recipes-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 35px 100px 135px 102px;
    gap: 4px;
}

.recipes-cards article {
    display: flex;
    flex-direction: column;
    border-radius: 21px;
    background-color: white;
    margin: 0px 0px 66px 0px;
    width: 30%;
    position: relative;
}

.recipes-cards article h2 {
    font-family: "manrope", sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: 5px 15px;
    background-color: #FFD15B;
    position: absolute;
    top: 21px;
    right: 22px;
    border-radius: 14px;
    z-index: 2;
}

.recipes-cards img {
    width: 100%;
    height: 253px;
    border-radius: 20px 20px 0px 0px;
}

.card-content {
    padding: 32px 25px 61px;
}

.card-content h1 {
    font-family: "anton", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 29px;
}

.card-content h3 {
    font-family: "manrope", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #7A7A7A;
    margin-bottom: 15px;
}

.card-content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
    max-height: 4 * 1.2em;
    font-family: "manrope", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #1B1B1B;
    margin-bottom: 32px;
}

.ingredients-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ingredients-list .ingredient {
    width: 50%;
    margin: 0px 0px 21px 0px;
}

.card-content h4 {
    font-family: "manrope", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #1B1B1B;
}

.card-content h5 {
    font-family: "manrope", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7A7A7A;
}